body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.attribution {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    height: 36%;
    width: 20%;
    margin: 200px auto 0 auto;
    border: 1px solid transparent;
    box-shadow: hsl(220, 15%, 55%);
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 0.9375rem;
}

.watermark {
    font-size: 0.75rem;
}

.attribution img {
    width: 100%;
    border-radius: 10px;
}